{{ define "variables" }}
{{ if . }}
=== Variables
{{ range . }}
{{ .Name }} {{ if .SrcTypeDefinition }}({{ .SrcTypeDefinition }}){{ end }}
{{ if ne .Comment "" }}* Comment: {{ .Comment }}{{ end }}
{{ end }}
{{ end }}
{{ end }}