{{ define "field" }}
{{ if .Comment }}[comment]#// {{ .Comment }}#{{ end -}}
{{ if .Name }}{{ .FormattedName }}{{ .WhiteSpaceBetween }}{{end}}{{ if .SrcTypeDefinition }}{{ .FormattedType }}{{ end -}}
{{ end }}