{{ define "field" }}
{{ if .Comment }}{{ .AsciidocFormattedComment }}{{ end -}}
{{ if .Name }}{{ .AsciidocFormattedName }}{{ .AsciidocWhiteSpaceBetween }}{{end}}{{ if .TypeDesc.SrcTypeDefinition }}{{ if .MapType }}{{ .AsciidocFormattedMapType }}{{ else }}{{ .AsciidocFormattedType }}{{ end }}{{ end -}}
{{ end }}