{{- define "functions" -}}
{{- if . }}
=== Functions
{{ range . }}
{{- if .Signature }}
* {{ .Signature }}
{{ if .Parameters }}
** Parameters
{{ range .Parameters }}
*** {{ .Name }} ({{ .SrcTypeDefinition }})
{{- end }}
{{- end }}
{{ if .Comment }}
* Comment: {{ .Comment }}
{{ end }}
.Code
[%collapsible%open]
====
[source,go]
----
{{ if .Comment }}
// {{ .Comment }}
{{- end }}
{{- .Signature }}
----
====
{{- end }}
{{ end }}
{{ end -}}
{{ end }}