{{- define "functions" -}}
{{- if . }}
=== Functions
{{ range . }}
{{ if .Comment }}
/ / Comment: {{ .Comment }}
{{ end }}
{{- if .Signature }}
{{ .Signature }}

.Code
[%collapsible]
====
[source,go]
----
{{ if .Comment }}
// {{ .Comment }}
{{- end }}
{{- .Signature }}
----
====
{{- end }}
{{ end }}
{{ end -}}
{{ end }}