{{- define "structs" -}}
{{ if . }}
=== Structs
{{ range . }}
    {{ if .Comment }}
/ / {{ .Comment }}
    {{ end }}
type {{ .Name }} struct {
{{if .Fields}}
{{ range .Fields }}
{{ template "field" . }}
{{ end }}
{{ end }}
}
{{ end }}
{{ end }}
{{ end }}