{{- define "structs" -}}
{{ if . }}
=== Structs
{{ range . }}
[.code]
****
{{ if .Comment }}[comment]#//{{ .Comment }}#{{ end }}
[keyword]#type# [string]#{{ .Name }}#
[keyword]#struct# [operator]#{#
{{- if .Fields }}{{ range .Fields }}
{{ template "field" . }}{{ end }}
{{ end }}
[operator]#}#
****
{{ end }}
{{ end }}
{{ end }}