{{ define "variables" -}}
{{ if . }}
=== Variables
{{ range . }}
{{ .Name }} {{ if .SrcTypeDefinition }}({{ .SrcTypeDefinition }}){{ end }}
{{ if .Comment }}
* Comment: {{ .Comment }}{{ end }}
{{ end }}
{{ end -}}
{{ end }}